{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <p>Site réalisé par <a href="mailto:hermione@jeremielibeau.fr">Jérémie Libeau</a>.</p>
            <p>Code accessible ici : <a href="https://github.com/loconox/hermione_choix">https://github.com/loconox/hermione_choix</a></p>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

