{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="gabiers-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for gabier in gabiers %}
                    <tr>
                        <td>{{ gabier.id }}</td>
                        <td>{{ gabier.pseudo }}</td>
                        <td>{{ gabier.firstName }}</td>
                        <td>{{ gabier.lastName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#gabiers-table').DataTable();
        });
    </script>
{% endblock %}

